doctype html
html
  head
    title PacMany Screen
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(language='javascript', type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js')
    script(language='javascript', type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.dom.min.js')
    script(src='./socket.io/socket.io.js')
    script(type='text/javascript', src='./qrcode.min.js')
    script(type='text/javascript', src='./maps/' + map )
    
    script.
        var gameMap = jQuery.extend(true, [], mapOriginal);
        var splits = #{splits};
        var splitscreen = #{splitscreen};
        var port = #{port};
        var gameid = #{gameid};
        var screenid = "#{screenid}";
        var showQRCode = #{showQRCode};
        var showHighScore = #{showHighScore};
        var socket = io();
        var loadedMap = false;
        var test = false;
        var gamemode ="";

      
    script(type='text/javascript', src='./js/screen.js')
      
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='./css/stylescreen.css')
    
  body
    #overlay
        .overlay-content
            h1#time
                | 
    #pacmany-holder
    #qrcode(style='border: 5px solid white; width:100%; max-width: 265px;')
    table#score.table
      thead
        tr
          th Player
          th Score
      tbody#gameTable
